# Visual Studio 2015+
.vs/

# Visual Studio Code
.vscode/

# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
*.suo
*.user
*.userosscache
*.sln.docstates

# Packages
*.nupkg
*.dll
*.pdb
*.exe
*.cache
*.log
*.bak
*.ncb
*.opendb
*.opensdf
*.sdf
*.ipch
*.aps
*.bsc
*.sbr
*.tlb
*.tlh
*.tmp
*.obj
*.ilk
*.res
*.pch
*.exp
*.lib
*.opt
*.manifest
*.res
*.tds
*.vsp
*.vspx
*.vspscc
*.vssscc
*.vsscc
*.buildscc
*.msscc
*.scc
*.vsix
*.webinfo
*.webtest
*.testsettings
*.trx
*.orderedtest
*.coverage
*.coveragexml
*.runsettings
*.testrunconfig
*.testsettings
*.rdc
*.rdcxml
*.rdg
*.rdgxml
*.rdl
*.rdlc
*.rpt
*.xsd
*.xsx
*.xsc
*.xss
*.xsp
*.xpt
*.xpm
*.xps
*.xpsx
